
.card-container2 {
    display: flex;
    justify-content: space-between;
    background-color: #55A44E;
    padding: 10px;
    
  }
  
  .card2 {
    flex-basis: 30%; /* Tamanho do card */
    background-color: #EDE9A3; /* Cor de fundo do card */
    padding: 5px; /* Espaçamento interno do card */
  }
  
  
  .card-content2 {
    margin-bottom: 10px; /* Espaçamento abaixo do parágrafo */
    color: #1B8057;
    text-align: center;
    font-size: 25px;
  }
  .card-content2 img {
    height: 280px;
    width: 380px;
    
  }