.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.Iniciativa {
    flex-basis: 50%; /* Tamanho do card */
    padding: 10px; /* Espaçamento interno do card */
    color: #1B8057;
    font-size: 25px;
    text-align: center;
}
.Iniciativa h2 {
    color: #BCA44A;
    text-align: center;
}
.Cesta {
    flex-basis: 50%; /* Tamanho do card */
    padding: 10px; /* Espaçamento interno do card */
    color: #1B8057;
    font-size: 25px;
    text-align: center;
}
.Cesta h2 {
    color: #BCA44A;
    text-align: center;
}
.papayaPng {
    position: absolute;
    top: 350%;
    right: 7%;
    width: 320px;
    height: 320px;
}